body,
html {
    margin: 0;
    padding: 0;
    font-family: "Inter" !important;
}
body {
    overflow-x: hidden;
}
.body {
    font-size: 12px;
    font-family: "Inter" !important;
    color: #141516;
}

h1 {
    line-height: 1;
}
h2 {
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    font-weight: 600;
}

a {
    color: #141516;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: #141516;
    }
}

.full-height {
    padding-top: 25px;
}
.btn {
    font-weight: bold !important;
    &:hover {
        font-weight: bold !important;
        color: #141516;
    }
    color: #141516 !important;
    padding: 12px 20px;
    border-radius: 2px;
}
// .btn-primary {
//     background: #f1bc32;
//     border-color: #f1bc32;
//     &:hover {
//         background: #e1a60f;
//         border-color: #e1a60f;
//     }
//     &:focus {
//         background: #e1a60f;
//         border-color: #e1a60f;
//     }
//     &:active {
//         background: #e1a60f !important;
//         border-color: #e1a60f !important;
//     }
// }
.btn-link {
}
.menu-img {
    padding-bottom: 4px;
    padding-right: 5px;
}
.logo {
    padding-top: 10px;
}
.gray {
    background: #f5f5f5;
    border-radius: 2px;
}
.block-link {
    :hover {
        background: $focusedGray;
    }
}
.category {
    height: 250px;
    &-image {
        text-align: center;
        max-height: 150px;
    }
    &-title {
        font-size: 24px;
        font-weight: bold;
    }
}
.return_arrow {
    padding: 20px;
}
.bread-navigation {
    align-content: center;
}
